@model List<Meeting>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css" >
    <title>testing</title>
</head>
<body class="body-class sp-bt">
    <div class="page-header">
        <h1 class="center-text">Local Hoops <i class="fa-solid fa-basketball spinner"></i></h1>
        <p class="sublogo center-text"><em>Where North Park YMCA Members Compete.</em></p> 
    </div>

    <form asp-controller="User" asp-action="Logout" method="POST" class="logout-form">
        <button class="logout-btn">Logout</button>
    </form>

    @* SVG *@
    @* <div class="wave"></div> *@
    @* <div class="blob"></div> *@
    <div class="sprinkle"></div>

    @* SLIDE SHOW *@
    <div class="slideshow-container">
        <div class="slideshow">
            <div class="opacity-cover">
                <h1 class="page-title">Scheduled Basketball Sessions</h1>
            </div>
        </div>
    </div>

    @* PAGE CONTENTS *@
    <div class="page-contents">
        @* <h1 class="page-title">Scheduled Picked up games</h1> *@

        <br />

        <div class="table-container">    
            @* TABLE HERE *@
            <table class="games-table">
                <thead>
                    <tr>
                        <th>Meet Up</th>
                        <th>Date and Time</th>
                        <th>Duration</th>
                        <th>Game Coordinator</th>
                        <th class="center-cell small-cell"># Players</th>
                        <th class="center-cell">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (Meeting meeting in Model)
                    {
                        <tr>
                            <td><a href="/view/@meeting.MeetingId" class="game-link">@meeting.Title</a></td>
                            <td>@meeting.Date.ToString()</td>
                            <td>@meeting.TotalTime()</td>
                            <td>@meeting.Creator.FullName()</td>
                            <td class="center-cell small-cell">@meeting.Connections.Count</td>

                            @* CONDITIONAL DELETE/JOIN/LEAVE *@
                            @if(meeting.UserId == Context.Session.GetInt32("UUID"))
                            {
                                <td class="center-cell">
                                    <form asp-controller="Meeting" asp-action="DeleteMeeting" asp-route-id="@meeting.MeetingId" method="POST">
                                        <button id="action-delete-btn">Delete</button>
                                    </form>
                                </td>
                            }
                            else if(meeting.Connections.Any(c => c.UserId == Context.Session.GetInt32("UUID")))
                            {
                                <td class="center-cell">
                                    <form asp-controller="Meeting" asp-action="Leave" asp-route-id="@meeting.MeetingId" method="POST">
                                        <button id="action-leave-btn">Leave</button>
                                    </form>
                                </td>
                            }
                            else{
                                <td class="center-cell">
                                    <form asp-controller="Meeting" asp-action="Join" asp-route-id="@meeting.MeetingId" method="POST">
                                        <button id="action-join-btn">Join</button>
                                    </form>
                                </td>
                            }




                        </tr>
                    }
                </tbody>
            </table>


            @* TABLE END *@
        </div>

        <div class="add-game">
            <a href="/new/meeting">Add Game Session</a>
        </div>

    </div>
</body>
</html>